import * as _ from "lodash" ;
import * as Interface from "./Interfaces" ;
import * as Index from "./Index" ;
import {Base } from "@leandreDev/utils" ;

<%if(protoSchema.parentModel){%>
import {Model_<%= idName[protoSchema.parentModel] %> } from "./Model_<%= idName[protoSchema.parentModel] %>"
<%}%>

/**
  <%= protoSchema.description %>
*/
export class Model_<%= protoSchema.name %> extends <%if(protoSchema.parentModel){%>  Model_<%=idName[protoSchema.parentModel] %>  <% }else {%> Base <%}%> implements Interface.I<%= protoSchema.name %> {

/**
  <%= protoSchema.description %>
*/
  constructor(obj:any={}){
    super(obj);
    <% _.forEach(protoSchema.fields , function(field){ %>
        <%if(field.isArrayOf){%>
        if(obj["<%= field.name%>"] != undefined && obj["<%= field.name%>"] != null && _.isArray(obj["<%= field.name%>"])){
          <% if(field._class == "objectid" ){ %>
          this["<%= field.name%>"] = obj["<%= field.name%>"].map((value)=>{
            if(_.isString(value)){
              return value ;
            }else if(value._id){
              return value._id ;
            }else if(value._bsontype && value._bsontype === 'ObjectID'){
                return `<%="${value}"%>` ;
            }
          })
          
          <% }else if( field._class == "subdoc"){ %>

            this["<%= field.name%>"] = obj["<%= field.name%>"].map((value)=>{
              if(value._class){
                return new Index[value._class](value) ;
              }else{
                return new Index["<%=idName[field.protoSchemaId] %>"](value) ;
              }
            })
            
          <% }else if( field._class == "modelid"){ %>
           this["<%= field.name%>"] = obj["<%= field.name%>"].map((value)=>{
            if(_.isString(value)){
              return value ;
            }else if(value._id){
              return value._id ;
            }
           })
          <% }else if( field._class == "date"){ %>
            this["<%= field.name%>"] = obj["<%= field.name%>"].map((value)=>{
              return new Date(value);
            })
            
          <% }else if( field._class == "number"){ %>

           this["<%= field.name%>"] = obj["<%= field.name%>"].map((value)=>{
              return new Number(value).valueOf();
            })
          <% }else if( field._class == "boolean"){ %>
           this["<%= field.name%>"] = obj["<%= field.name%>"].map((value)=>{
              return new Boolean(value).valueOf();
            })
          <% }else if( field._class == "string" || field._class == "texte" || field._class == "htmltexte"  || field._class == "password"  ){ %>
           this["<%= field.name%>"] = obj["<%= field.name%>"].map((value)=>{
              return value.toString();
            })
          <% }else if( field._class == "object"  ){ %>
           this["<%= field.name%>"] = obj["<%= field.name%>"].map((value)=>{
              return value;
            })
          <% } else { %>

           this["<%= field.name%>"] = obj["<%= field.name%>"].map((value)=>{
              return value ;
            })
          <%}%>
        }
        <%}else{ %>
        if(obj["<%= field.name%>"] != undefined){
          <% if(field._class == "objectid" ){ %>
          if(_.isString(obj["<%= field.name%>"])){
            this["<%= field.name%>"] = obj["<%= field.name%>"];
          }else if(obj["<%= field.name%>"]._id){
            this["<%= field.name%>"] = obj["<%= field.name%>"]._id ;
          }
          <% }else if( field._class == "subdoc"){ %>
            if(obj["<%= field.name%>"]._class){
              this["<%= field.name%>"] =  new Index[obj["<%= field.name%>"]._class](obj["<%= field.name%>"]) ;
            }else{
              this["<%= field.name%>"] =  new Index["<%=idName[field.protoSchemaId] %>"](obj["<%= field.name%>"]) ;
            }
          <% }else if( field._class == "modelid"){ %>
           if(_.isString(obj["<%= field.name%>"])){
              this["<%= field.name%>"] = obj["<%= field.name%>"] ;
            }else if(obj["<%= field.name%>"]._id){
              this["<%= field.name%>"] = obj["<%= field.name%>"]._id ;
            }
          <% }else if( field._class == "date"){ %>
            this["<%= field.name%>"] = new Date(obj["<%= field.name%>"]) ;
          <% }else if( field._class == "number"){ %>
           this["<%= field.name%>"] = new Number(obj["<%= field.name%>"]).valueOf();
          <% }else if( field._class == "boolean"){ %>
           this["<%= field.name%>"] = new Boolean(obj["<%= field.name%>"]).valueOf() ;
          <% }else if( field._class == "string" || field._class == "texte" || field._class == "htmltexte"  || field._class == "password" ){ %>
           this["<%= field.name%>"] = obj["<%= field.name%>"].toString() ;
           <% }else if( field._class == "object" ){ %>
           this["<%= field.name%>"] = obj["<%= field.name%>"] ;
          <% } else { %>
           this["<%= field.name%>"] = obj["<%= field.name%>"] ;
          <%}%>
        }
        <%} %>
    <% }) %>
  }
  

    public _class:string  = "<%= protoSchema.name %>" ;

        <% _.forEach(protoSchema.fields , function(field){ %>
              /**
        <%= field.description %>
        */<% if(field._class == "objectid" ){ %>
               public "<%= field.name%>"<%if(!field.required){ %>?<%}%>:string<%if(field.isArrayOf){%>[]<%}%><%if(field.default!= undefined || field.default!= null){%>="<%=field.default%>"<%}%> ;
              <% }else if( field._class == "subdoc"){ %>
               public "<%= field.name%>"<%if(!field.required){ %>?<%}%>:Interface.I<%=idName[field.protoSchemaId] %><%if(field.isArrayOf){%>[]<%}%>;
              <% }else if( field._class == "modelid"){ %>
               public "<%= field.name%>"<%if(!field.required){ %>?<%}%>:string<%if(field.isArrayOf){%>[]<%}else{%> <%if(field.default!= undefined && field.default!= null){%>="<%=field.default%>"<%}}%>;
              <% }else if( field._class == "date"){ %>
               public "<%= field.name%>"<%if(!field.required){ %>?<%}%>:Date<%if(field.isArrayOf){%>[]<%}else{%> <%if(field.default!= undefined && field.default != null && field.default != "" ){%>=new Date("<%=field.default%>")<%}}%>;
              <% }else if( field._class == "number"){ %>
               public "<%= field.name%>"<%if(!field.required){ %>?<%}%>:number<%if(field.isArrayOf){%>[]<%}else{%> <%if(field.default!= undefined && field.default!= null){%>=<%=field.default%><%}}%>;
              <% }else if( field._class == "boolean"){ %>
               public "<%= field.name%>"<%if(!field.required){ %>?<%}%>:boolean<%if(field.isArrayOf){%>[]<%}else{%> <%if(field.default!= undefined && field.default!= null){%>=<%=field.default%><%}}%>;
              <% }else if( field._class == "string" || field._class == "texte" || field._class == "htmltexte"  || field._class == "password"){ %>
               public "<%= field.name%>"<%if(!field.required){ %>?<%}%>:string<%if(field.isArrayOf){%>[]<%}else{%> <%if(field.default!= undefined && field.default!= null){%>="<%=field.default%>"<%}}%>;
              <% }else if( field._class == "object" ){ %>
               public "<%= field.name%>"<%if(!field.required){ %>?<%}%>:any<%if(field.isArrayOf){%>[]<%}else{%> <%if(field.default!= undefined && field.default!= null){%>=<%=field.default%><%}}%>;
              <% } else { %>
               public "<%= field.name%>"<%if(!field.required){ %>?<%}%>:Interface.I<%=field._class %><%if(field.isArrayOf){%>[]<%}%>;
              <% } %>
       <% }) %>


       

   }
