import {IHttpResult , IHttpServiceBase , IHttpServiceAdminBase } from "@leandredev/utils" ;
    <% _.forEach(datas , function(service){ %>
        export * from ".<%= service.path %>" ;
    <% }) %>
    export { IHttpResult , IHttpServiceBase , IHttpServiceAdminBase  };